.dashboard-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .dashboard-nav .nav-links {
    display: flex;
  }
  
  .dashboard-nav .nav-links a,
  .dashboard-nav .nav-right a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold; /* Bold text for links */
  }
  
  .dashboard-nav .nav-links a:hover,
  .dashboard-nav .nav-links .active {
    background-color: #007bff;
    color: white;
  }
  
  .dashboard-nav .nav-right a:hover {
    background-color: #d9534f;
    color: white;
  }
  